# EditorConfig: http://editorconfig.org
root = true

[*]
max_line_length = 120
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.md]
max_line_length = 999999

# noinspection EditorConfigKeyCorrectness
[*.{kt,kts}]
ij_kotlin_class_annotation_wrap = split_into_lines
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ij_kotlin_field_annotation_wrap = on_every_item
ij_kotlin_method_annotation_wrap = on_every_item
ij_kotlin_parameter_annotation_wrap = on_every_item
ij_kotlin_property_annotation_wrap = on_every_item
ij_kotlin_variable_annotation_wrap = on_every_item
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_annotation = disabled
ktlint_standard_blank-line-before-declaration = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_no-blank-line-in-list = disabled
ktlint_standard_property-naming = disabled
ktlint_standard_spacing-between-declarations-with-annotations = disabled
ktlint_standard_string-template-indent = disabled

# noinspection EditorConfigKeyCorrectness
# https://github.com/JLLeitschuh/ktlint-gradle/issues/266#issuecomment-2143319443
[**/generated/**]
ktlint = disabled
