name: Release

on:
  push:
    tags:
      - '**'

env:
  CI: true

jobs:
  verify-version:
    runs-on: ubuntu-latest
    outputs:
      git-tag: ${{ steps.git-tag.outputs.version }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-tags: true
          fetch-depth: 0 # get everything

      - name: Get Git tag
        id: git-tag
        run: |
          GIT_TAG="$(git describe --tags --abbrev=0)"
          echo "GIT_TAG=$GIT_TAG"
          echo "version=$GIT_TAG" >> "$GITHUB_OUTPUT"

      - name: Get Gradle version
        id: gradle-version
        run: |
          GRADLE_VERSION=$(grep VERSION_NAME gradle.properties | cut -d "=" -f 2)
          echo "GRADLE_VERSION=$GRADLE_VERSION"
          echo "version=$GRADLE_VERSION" >> "$GITHUB_OUTPUT"

      - name: Verify Git tag matches Gradle version
        id: verify
        run: |
          GRADLE_VERSION="${{ steps.gradle-version.outputs.version }}"
          GIT_TAG="${{ steps.git-tag.outputs.version }}"
          if [ -z "$GRADLE_VERSION" ]; then
            echo "Empty gradle version"
            exit 1
          elif [[ "$VERSION" == *"-SNAPSHOT"* ]]; then
            echo "Can't publish a snapshot"
            exit 1
          elif [ -z "$GIT_TAG" ]; then
            echo "Empty git tag"
            exit 1
          elif [ "$GRADLE_VERSION" != "$GIT_TAG" ]; then
            echo "Gradle version = $GRADLE_VERSION, Git tag = $GIT_TAG => MISMATCH!"
            exit 1
          fi

  publish:
    runs-on: ubuntu-latest
    if: github.repository == 'jonapoul/takdevx'
    permissions:
      contents: write
    needs: verify-version
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-tags: true
          fetch-depth: 0

      - name: Setup JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          java-version-file: .github/workflows/.java-version
          distribution: zulu

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
        with:
          add-job-summary: on-failure
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: Publish
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_IN_MEMORY_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.GPG_KEY_PASSWORD }}
        run: ./gradlew publishToMavenCentral -x dokkaGeneratePublicationHtml

      - name: Create release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1
        with:
          generateReleaseNotes: true
          name: v${{ needs.verify-version.outputs.git-tag }}
